@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.woff") format("woff"),
    url("../fonts/Inter/Inter-Regular.woff2") format("woff2");
}

body {
  background-color: #000000;
  margin: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

/* Typo */

html {
  font-size: 13pt;
}

@media screen and (max-width: 1680px) {
  html {
    font-size: 11pt;
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 11pt;
  }
}

@media screen and (max-width: 980px) {
  html {
    font-size: 12pt;
  }
}

@media screen and (max-width: 736px) {
  html {
    font-size: 12pt;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12pt;
  }
}

body,
input,
select,
textarea {
  font-family: "Inter", Fallback, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.65;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

strong,
b {
  font-weight: 600;
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 2rem 0;
}

p:last-child {
  margin: 0;
}

p.special {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 300;
  margin: 0 0 0.5rem 0;
  padding: 0 0 1rem 0;
  letter-spacing: 0.25rem;
}

p.special:after {
  content: "";
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.125);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 1rem 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 35px;
}

@media screen and (max-width: 736px) {
  h1 {
    font-size: 22px;
  }
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.35rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

input,
select,
textarea {
  color: #dedede;
}

a {
  color: #0f869a;
}

strong,
b {
  color: #1e1f23;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fad000dd;
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  height: 3.85rem;
  line-height: 3.95rem;
  padding: 0 2.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
button.icon,
.button.icon {
  padding-left: 1.35rem;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
  margin-right: 0.5rem;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
  display: block;
  margin: 0 0 1rem 0;
  width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
  font-size: 0.8rem;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big {
  font-size: 1.35rem;
}

input[type="submit"].disabled,
input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  opacity: 0.25;
}

@media screen and (max-width: 480px) {
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button,
  .button {
    padding: 0;
    width: 100%;
  }
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  background-color: #facf00;
  color: #000 !important;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  background-color: #ffe561;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
  background-color: #ffe666;
}

input[type="submit"].alt,
input[type="reset"].alt,
input[type="button"].alt,
button.alt,
.button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
  color: #1e1f23 !important;
}

input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
input[type="button"].alt:hover,
button.alt:hover,
.button.alt:hover {
  background-color: rgba(144, 144, 144, 0.075);
}

input[type="submit"].alt:active,
input[type="reset"].alt:active,
input[type="button"].alt:active,
button.alt:active,
.button.alt:active {
  background-color: rgba(144, 144, 144, 0.2);
}

input[type="submit"].alt.icon:before,
input[type="reset"].alt.icon:before,
input[type="button"].alt.icon:before,
button.alt.icon:before,
.button.alt.icon:before {
  color: #bbb;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
  background-color: #54a354;
  color: #ffffff !important;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
button.special:hover,
.button.special:hover {
  background-color: #62ae62;
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
button.special:active,
.button.special:active {
  background-color: #4b924b;
}

/* Flag */

#flag {
  color: #fad00092;
  font-size: large;
  position: absolute;
  top: 0;
  right: 0;
  margin: 40px;
}

/* Form */

form {
  margin: 0 0 2rem 0;
}

label {
  display: block;
  font-size: 0.9rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative;
}

.select-wrapper:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", Fallback, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.select-wrapper:before {
  content: "\f078";
  display: block;
  height: 2.75rem;
  line-height: 2.75rem;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 2.75rem;
}

.select-wrapper select::-ms-expand {
  display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 2.75rem;
}

textarea {
  padding: 0.75rem 1rem;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2rem;
  opacity: 0;
  width: 1rem;
  z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  padding-left: 2.4rem;
  padding-right: 0.75rem;
  position: relative;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", Fallback, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  border-radius: 4px;
  border: solid 1px;
  content: "";
  display: inline-block;
  height: 1.65rem;
  left: 0;
  line-height: 1.58125rem;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1.65rem;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  content: "\f00c";
}

input[type="checkbox"] + label:before {
  border-radius: 4px;
}

input[type="radio"] + label:before {
  border-radius: 100%;
}

::-webkit-input-placeholder {
  opacity: 1;
}

:-moz-placeholder {
  opacity: 1;
}

::-moz-placeholder {
  opacity: 1;
}

:-ms-input-placeholder {
  opacity: 1;
}

.formerize-placeholder {
  opacity: 1;
}

label {
  color: #1e1f23;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  background: rgba(144, 144, 144, 0.075);
  border-color: rgba(144, 144, 144, 0.25);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
  border-color: #54a354;
  box-shadow: 0 0 0 1px #54a354;
}

.select-wrapper:before {
  color: rgba(144, 144, 144, 0.25);
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  color: rgba(0, 0, 0, 0.5);
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  background: rgba(144, 144, 144, 0.075);
  border-color: rgba(144, 144, 144, 0.25);
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  background-color: #54a354;
  border-color: #54a354;
  color: #ffffff;
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
  border-color: #54a354;
  box-shadow: 0 0 0 1px #54a354;
}

::-webkit-input-placeholder {
  color: #bbb !important;
}

:-moz-placeholder {
  color: #bbb !important;
}

::-moz-placeholder {
  color: #bbb !important;
}

:-ms-input-placeholder {
  color: #bbb !important;
}

.formerize-placeholder {
  color: #bbb !important;
}

/* Section/Article */

section.special,
article.special {
  text-align: center;
}

header p {
  position: relative;
  margin: 0 0 1.5rem 0;
}

header h2 + p {
  font-size: 1.25rem;
  margin-top: -1rem;
}

header h3 + p {
  font-size: 1.1rem;
  margin-top: -0.8rem;
}

header h4 + p,
header h5 + p,
header h6 + p {
  font-size: 0.9rem;
  margin-top: -0.6rem;
}

header p {
  color: #bbb;
}

/* Header */

#header {
  color: #a6a6a6;
  cursor: default;
  position: relative;
  text-align: center;
  z-index: 10001;
}

#header > .logo a {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  line-height: 1rem;
}

#header > .logo span {
  font-weight: 300;
  font-size: 1rem;
  display: block;
  color: rgba(255, 255, 255, 0.65);
}

/* Main */

#content {
  position: absolute;
  text-align: center;
  top: 80px;
  z-index: 1;
  display: block;
  left: 10%;
  right: 10%;
}

#main > .inner {
  margin: 0 auto;
  width: 80rem;
  max-width: 90%;
  margin-bottom: 2rem;
}

.wrapper > header {
  text-align: center;
  padding: 2rem;
  margin: 0;
}

.wrapper > header h2 {
  position: relative;
  padding-bottom: 0.75rem;
}

.wrapper > header h2:after {
  content: "";
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 10%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.125);
}

.wrapper > header p {
  font-weight: 300;
  font-size: 1.2rem;
  color: gray;
}

@media screen and (max-width: 736px) {
  .wrapper > header {
    padding: 1.5rem;
  }

  .wrapper > header h2 {
    font-size: 1.5rem;
  }

  .wrapper > header h2:after {
    width: 50%;
  }
}

.wrapper.style1 .content {
  padding: 6rem;
}

@media screen and (max-width: 1280px) {
  .wrapper.style1 .content {
    padding: 4rem;
  }
}

@media screen and (max-width: 736px) {
  .wrapper.style1 .content {
    padding: 2rem;
  }
}

.wrapper.style2 {
  background: #1e1f23;
  padding: 6rem;
}

.wrapper.style2 header {
  background: #121315;
  border-radius: 4px 4px 0 0;
}

.wrapper.style2 header h2 {
  color: #fff;
}

.wrapper.style2 header h2:after {
  background-color: rgba(255, 255, 255, 0.125);
}

.wrapper.style2 header p {
  color: rgba(255, 255, 255, 0.25);
}

@media screen and (max-width: 1280px) {
  .wrapper.style2 {
    padding: 4rem;
  }
}

@media screen and (max-width: 736px) {
  .wrapper.style2 {
    padding: 2rem;
  }
}

/* Footer */

#footer {
  padding: 2rem 0 0.1rem 0;
  text-align: center;
}

#footer .copyright a {
  color: rgba(255, 255, 255, 0.75);
}

#footer .imprint a {
  color: rgba(255, 255, 255, 0.225);
  padding-bottom: 48px;
}

#footer a:hover {
  color: #fff;
}

#footer .copyright {
  color: #bbb;
  font-size: 0.9rem;
  margin: 0 0 2rem 0;
  padding: 0 1rem;
  text-align: center;
}

@media screen and (max-width: 736px) {
  #footer {
    padding: 1rem 0 0.1rem 0;
  }
}

/* Textblock */

#h3top {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 2rem 0;
  padding: 2rem 0 2rem;
}

#h3topTextOnly {
  font-size: 18px;
  font-weight: 400;
}

@media screen and (min-width: 736px) {
  #h3top {
    padding: 4rem;
  }
}

/* Logo */

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: 180px;
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
  border-radius: 190px;
}

.logo:hover {
  transition: all 0.8s ease-in-out;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 10px 8px 6px rgb(222, 60, 214, 0.5);
}

/* 404 Page */

.errorpage {
  margin-top: 80px;
  margin-bottom: 148px;
}
